<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Airport employee roles</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<h1>Airport employee roles</h1>
<table>
  <tr>
    <th>Number</th>
    <th>Role</th>
  </tr>

  <tr th:each="role, stat : ${airportEmployeeRoles}">

    <!-- Airport employee role data -->
    <td th:text="${stat.count}"></td>
    <td th:text="${role.name}"></td>

    <!-- Edit employee role data -->
    <td>
      <a th:href="@{/airport-employee-roles/{id}/edit(id=${role.id})}">
        Edit
      </a>
    </td>

    <!-- Delete employee role data -->
    <td>
      <form th:action="@{/airport-employee-roles/{id}/delete(id=${role.id})}"
            method="post">

        <button type="submit"
                onclick="return confirm('Are you sure you want to delete this role?')">
          Delete
        </button>
      </form>
    </td>

    <!-- Error when delete employee role data -->
    <td>
      <div th:if="${errorAirportEmployeeRoleId != null and errorAirportEmployeeRoleId == role.id}"
           th:text="${errorMessage}">
      </div>
    </td>
  </tr>
</table>

<!-- Add new airport employee role -->
<p>
  <a th:href="@{/airport-employee-roles/new}">Add airport employee role</a>
</p>

</body>
</html>