<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Arrivals</title>
</head>
<body>
<h1>Arrivals board</h1>
<table>
  <tr>
    <th>Flight</th>
    <th>From</th>
    <th>Arrival time</th>
    <th>Status</th>
  </tr>

  <tr th:each="flight : ${arrivalFlights}">
    <td th:text="${flight.flightNumber}"></td>
    <td th:text="${flight.departure}"></td>
    <td th:text="${flight.arrivalTime}"></td>
    <td th:text="${flight.status}"></td>
  </tr>
</table>
</body>
</html>
