<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Baggage claims</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<h1>Baggage claims</h1>
<table>
  <tr>
    <th>Number</th>
    <th>Baggage claim</th>
  </tr>

  <tr th:each="claim, stat : ${baggageClaims}">

    <!-- Baggage claim data -->
    <td th:text="${stat.count}"></td>
    <td th:text="${claim.number}"></td>

    <!-- Edit baggage claim -->
    <td>
      <a th:href="@{/baggage-claims/{id}/edit(id=${claim.id})}">
        Edit
      </a>
    </td>

    <!-- Delete baggage claim -->
    <td>
      <form th:action="@{/baggage-claims/{id}/delete(id=${claim.id})}"
            method="post">

        <button type="submit"
                onclick="return confirm('Are you sure you want to delete this baggage claim?')">
          Delete
        </button>
      </form>
    </td>

    <!-- Error when delete baggage claim -->
    <td>
      <div th:if="${errorBaggageClaimId != null and errorBaggageClaimId == claim.id}"
           th:text="${errorMessage}">
      </div>
    </td>
  </tr>
</table>

<!-- Add new baggage claim -->
<p>
  <a th:href="@{/baggage-claims/new}">Add baggage claim</a>
</p>

</body>
</html>