<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update baggage claim</title>
</head>
<body>

<h1 th:text="${baggageClaim.id == null}
        ? 'Create baggage claim'
        : 'Edit baggage claim'">
  Create baggage claim
</h1>

<form th:object="${baggageClaim}"
      th:action="${baggageClaim.id == null}
          ? @{/baggage-claims}
          : @{/baggage-claims/{id}(id=${baggageClaim.id})}"
      method="post">

  <p>
    Baggage claim number:
    <input type="text" th:field="*{number}">
    <span th:if="${#fields.hasErrors('number')}"
          th:errors="*{number}">
    </span>
  </p>

  <button type="submit"
          th:text="${baggageClaim.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/baggage-claims}">← Back to baggage claims</a>
</p>

</body>
</html>