<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update check-in counter</title>
</head>
<body>

<h1 th:text="${checkInCounter.id == null}
        ? 'Create check-in counter'
        : 'Edit check-in counter'">
  Create check-in counter
</h1>

<form th:object="${checkInCounter}"
      th:action="${checkInCounter.id == null}
          ? @{/check-in-counters}
          : @{/check-in-counters/{id}(id=${checkInCounter.id})}"
      method="post">

  <p>
    Check-in counter number:
    <input type="text" th:field="*{number}">
    <span th:if="${#fields.hasErrors('number')}"
          th:errors="*{number}">
    </span>
  </p>

  <button type="submit"
          th:text="${checkInCounter.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/check-in-counters}">← Back to check-in counters</a>
</p>

</body>
</html>