<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new check-in counter</title>
</head>
<body>

<h1>Create new check-in counter</h1>

<form th:action="@{/check-in-counters}" th:object="${checkInCounter}" method="post">

  <p>
    Check-in counter number:
    <input type="text" th:field="*{number}">
    <span th:if="${#fields.hasErrors('number')}"
          th:errors="*{number}">
    </span>
  </p>

  <button type="submit">Save</button>

</form>

<p>
  <a th:href="@{/check-in-counters}">← Back to check-in counters</a>
</p>

</body>
</html>