<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update crew role</title>
</head>
<body>

<h1 th:text="${crewRole.id == null}
        ? 'Create crew role'
        : 'Edit crew role'">
  Create crew role
</h1>

<form th:object="${crewRole}"
      th:action="${crewRole.id == null}
          ? @{/crew-roles}
          : @{/crew-roles/{id}(id=${crewRole.id})}"
      method="post">

  <p>
    Crew role name:
    <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          style="color: red;">
    </span>
  </p>

  <button type="submit"
          th:text="${crewRole.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/crew-roles}">← Back to crew roles</a>
</p>

</body>
</html>