<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update gate</title>
</head>
<body>

<h1 th:text="${gate.id == null}
        ? 'Create gate'
        : 'Edit gate'">
  Create gate
</h1>

<form th:object="${gate}"
      th:action="${gate.id == null}
          ? @{/gates}
          : @{/gates/{id}(id=${gate.id})}"
      method="post">

  <p>
    Gate number:
    <input type="text" th:field="*{number}">
    <span th:if="${#fields.hasErrors('number')}"
          th:errors="*{number}"
          style="color: red;">
    </span>
  </p>

  <button type="submit"
          th:text="${gate.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/gates}">← Back to gates</a>
</p>

</body>
</html>