<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update passport control type</title>
</head>
<body>

<h1 th:text="${passControlType.id == null}
        ? 'Create passport control type'
        : 'Edit passport control type'">
  Create passport control type
</h1>

<form th:object="${passControlType}"
      th:action="${passControlType.id == null}
          ? @{/pass-control-types}
          : @{/pass-control-types/{id}(id=${passControlType.id})}"
      method="post">

  <p>
    Passport control type name:
    <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          style="color: red;">
    </span>
  </p>

  <button type="submit"
          th:text="${passControlType.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/pass-control-types}">← Back to passport control types</a>
</p>

</body>
</html>