<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Passengers</title>
</head>
<body>
<h1>Passengers</h1>
<table>
  <tr>
    <th>Number</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Country</th>
    <th>Passport number</th>
  </tr>
  <tr th:each="passenger, stat : ${passengers}">
    <td th:text="${stat.count}"></td>
    <td th:text="${passenger.firstName}"></td>
    <td th:text="${passenger.lastName}"></td>
    <td th:text="${passenger.sex.name}"></td>
    <td th:text="${passenger.age}"></td>
    <td th:text="${passenger.passCountry}"></td>
    <td th:text="${passenger.passNumber}"></td>
  </tr>
</table>
</body>
</html>