<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Passport control types</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<h1>Passport control types</h1>
<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
  </tr>

  <tr th:each="type, stat : ${passControlTypes}">
    <td th:text="${stat.count}"></td>
    <td th:text="${type.name}"></td>
  </tr>
</table>

<p>
  <a th:href="@{/pass-control-types/new}">Add passport control type</a>
</p>

</body>
</html>