<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update runway</title>
</head>
<body>

<h1 th:text="${runway.id == null}
        ? 'Create runway'
        : 'Edit runway'">
  Create runway
</h1>

<form th:object="${runway}"
      th:action="${runway.id == null}
          ? @{/runways}
          : @{/runways/{id}(id=${runway.id})}"
      method="post">

  <p>
    Runway number:
    <input type="text" th:field="*{number}">
    <span th:if="${#fields.hasErrors('number')}"
          th:errors="*{number}">
    </span>
  </p>

  <button type="submit"
          th:text="${runway.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/runways}">← Back to runways</a>
</p>

</body>
</html>