<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update sex</title>
</head>
<body>

<h1 th:text="${sex.id == null}
        ? 'Create sex'
        : 'Edit sex'">
  Create sex
</h1>

<form th:object="${sex}"
      th:action="${sex.id == null}
          ? @{/sexes}
          : @{/sexes/{id}(id=${sex.id})}"
      method="post">

  <p>
    Sex name:
    <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          style="color: red;">
    </span>
  </p>

  <button type="submit"
          th:text="${sex.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/sexes}">← Back to sexes</a>
</p>

</body>
</html>