<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Terminals</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<h1>Terminals</h1>
<table>
  <tr>
    <th>Number</th>
    <th>Terminal</th>
  </tr>

  <tr th:each="terminal, stat : ${terminals}">
    <td th:text="${stat.count}"></td>
    <td th:text="${terminal.number}"></td>
  </tr>
</table>

<p>
  <a th:href="@{/terminals/new}">Add terminal</a>
</p>

</body>
</html>