<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create or update type</title>
</head>
<body>

<h1 th:text="${type.id == null}
        ? 'Create type'
        : 'Edit type'">
  Create type
</h1>

<form th:object="${type}"
      th:action="${type.id == null}
          ? @{/types}
          : @{/types/{id}(id=${type.id})}"
      method="post">

  <p>
    Type name:
    <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          style="color: red;">
    </span>
  </p>

  <button type="submit"
          th:text="${type.id == null} ? 'Create' : 'Save changes'">
    Create
  </button>

</form>

<p>
  <a th:href="@{/types}">← Back to types</a>
</p>

</body>
</html>